.counter {
    text-align: center;
}

.counter div {
    margin-top: 20px;
}

.counter button {
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.counter span {
    margin: 0 10px;
    font-size: 1.5em;
}
