.password-generator {
    text-align: center;
}

.password-generator button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}

.password-generator p {
    margin-top: 10px;
    font-size: 1.2em;
}
