.timer {
    text-align: center;
}

.timer div {
    margin-top: 20px;
}

.timer button {
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.elapsed-time {
    margin-top: 20px;
    font-size: 1.5em;
}
